/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-oct-2018, 20:52:05
    Author     : Ivan
*/

.form-container {
   border: 1px solid #B1C8E1;
   background: #758596;
   background: -webkit-gradient(linear, left top, left bottom, from(#B1C8E1), to(#758596));
   background: -webkit-linear-gradient(top, #B1C8E1, #758596);
   background: -moz-linear-gradient(top, #B1C8E1, #758596);
   background: -ms-linear-gradient(top, #B1C8E1, #758596);
   background: -o-linear-gradient(top, #B1C8E1, #758596);
   background-image: -ms-linear-gradient(top, #B1C8E1 0%, #758596 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:40%;
   }
.form-field {
   border: 1px solid #758596;
   background: #E5EEF7;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #758596;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:90%;
   }
.form-field:focus {
   background: #fff;
   color: #324861;
   }
.form-container strong {
   text-shadow: #CEE7F1 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title,.feild-title-a,.field-title-b {
   margin-bottom:10px;
   color: #324861;
   text-shadow: #CEE7F1 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 1px solid #65461F;
   background: #805F35;
   background: -webkit-gradient(linear, left top, left bottom, from(#9E6012), to(#805F35));
   background: -webkit-linear-gradient(top, #9E6012, #805F35);
   background: -moz-linear-gradient(top, #9E6012, #805F35);
   background: -ms-linear-gradient(top, #9E6012, #805F35);
   background: -o-linear-gradient(top, #9E6012, #805F35);
   background-image: -ms-linear-gradient(top, #9E6012 0%, #805F35 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #F3DEC5 0 1px 0;
   color: #DEB98A;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #65461F;
   text-shadow: #DEB98A 0 1px 0;
   background: #805F35;
   background: -webkit-gradient(linear, left top, left bottom, from(#9E6012), to(#805F35));
   background: -webkit-linear-gradient(top, #9E6012, #805F35);
   background: -moz-linear-gradient(top, #9E6012, #805F35);
   background: -ms-linear-gradient(top, #9E6012, #805F35);
   background: -o-linear-gradient(top, #9E6012, #805F35);
   background-image: -ms-linear-gradient(top, #9E6012 0%, #805F35 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #DEB98A 0 1px 0;
   border: 1px solid #65461F;
   background: #B1C8E1;
   background: -webkit-gradient(linear, left top, left bottom, from(#805F35), to(#805F35));
   background: -webkit-linear-gradient(top, #805F35, #B1C8E1);
   background: -moz-linear-gradient(top, #805F35, #B1C8E1);
   background: -ms-linear-gradient(top, #805F35, #B1C8E1);
   background: -o-linear-gradient(top, #805F35, #B1C8E1);
   background-image: -ms-linear-gradient(top, #805F35 0%, #B1C8E1 100%);
   color: #fff;
   }
   
.my-notification {
  padding: 8px;
  color: #FFFFFF;
  width: 330px;
  background: #c0392b;
  background: -webkit-gradient(linear, left top, left bottom, from(#b1c8e1), to(#758596));
  background: -webkit-linear-gradient(top, #b1c8e1, #758596);
  background: -moz-linear-gradient(top, #b1c8e1, #758596);
  background: -ms-linear-gradient(top, #b1c8e1, #758596);
  background: -o-linear-gradient(top, #b1c8e1, #758596);
  background-image: -ms-linear-gradient(top, #b1c8e1 0%, #758596 100%);
  border: 0px solid #b1c8e1;
   }
.my-notification strong {
  font-family: sans-serif;
  font-weight: 400;
  font-size:18px;
  color: #324861;
  margin: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
  border-bottom: solid 1px rgba(255,255,255,0.2);
   }
.close-my-notification {
   font-size: 14px;
   color: #324861;
   float: right;
   margin-top: -43px;
   margin-right: 10px;
   width: 20px;
   height: 20px;
   text-align: center;
   }
.my-notification p {
   padding: 10px;
   padding-top: 0px;
   margin-bottom: 0px;
   font-size: 14px;
   padding-left: 10px;
   color: #324861;
   }